<!DOCTYPE html>
<html>
<head>
  <title>CoderTicket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
      <% if session[:user_id] %>
        <% us = User.find(session[:user_id]) %>
        <span class="greeting-nav">Hi, <%= us.name %></span>
        <%= link_to "Logout", logout_path, :method => "delete", class: "btn btn-danger" %>
        <%= link_to "Create Event", new_event_path, class: "btn btn-primary" %>
        <%= link_to "Create Venue", new_venue_path, class: "btn btn-primary" %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>  

<br><br>
<% if flash[:success] %>
  <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>
<% if flash[:error] %>
  <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>


<%= yield %>

</body>
</html>
